<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<h2>comments</h2>
<%# <% @article.comments.each do |comment| %>
	<%# <p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	<%# </p>

	<p> %>
		<%# <strong>body</strong>
		<%= comment.body %>
	<%# </p>
<% end %>
<%# his will now render the partial in app/views/comments/_comment.html.erb once for each comment that is in the @article.comments collection %>
<%= render @article.comments %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path %>
<%= link_to 'Back', articles_path %>
